<div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex></div>
    <div fxLayout="column" fxLayoutGap="20px">

        <div class="bx--form-item">
            <label for="email" class="bx--label">Email</label>
            <input id="email" type="text" class="bx--text-input" placeholder="you@company.com">
        </div>


        <div class="bx--form-item">
            <label for="password" class="bx--label">Password</label>
            <input id="password" type="password" class="bx--text-input" placeholder="Password">
        </div>

        <div class="bx--form-item">
            <button class="bx--btn bx--btn--primary" type="button">Submit</button>
        </div>

    </div>
    <div fxFlex></div>
</div>