/* You can add global styles to this file, and also import other style files */


// Carbon uses feature-flags to toggle new features on and off. 
// We currently have two feature-flags available for testing:
// Experimental Components use components-x
// UI Shell uses ui-shell.
// To turn on either of the feature flags include the feature-flag 
// variable into your SCSS file before importing carbon-components, 
// then set components-x and/or ui-shell to true.
$feature-flags: (
  components-x: true,
  ui-shell: true,
);


@import '~carbon-components/scss/globals/scss/styles.scss';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600');

body{
    font-family: 'IBM Plex Mono', monospace;
}


.flex-fill {
	// Work-around since @HostBinding will "NOT" compile fxLayout directive (eg: @HostBinding('attr.fxLayout') fxlayout = 'row';)
	// used with host binding (ie: @HostBinding('attr.class') cls = 'flex-fill';) to fill host component (ng-component)
	// see, https://github.com/angular/flex-layout/issues/76
	// the following is equivalent to "fxFlex fxLayout="column"
	flex: 1 1 auto;
	box-sizing: border-box;
	flex-direction: column;
	display: flex;
	width: 100%;
}
