/* You can add global styles to this file, and also import other style files */


// Carbon uses feature-flags to toggle new features on and off. 
// We currently have two feature-flags available for testing:
// Experimental Components use components-x
// UI Shell uses ui-shell.
// To turn on either of the feature flags include the feature-flag 
// variable into your SCSS file before importing carbon-components, 
// then set components-x and/or ui-shell to true.
$feature-flags: (
  components-x: true,
  ui-shell: true,
);


@import '~carbon-components/scss/globals/scss/styles.scss';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600');

body{
    font-family: 'IBM Plex Mono', monospace;
}